{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<h1 class="mb-4">🛒 Mon panier</h1>

{% if cart is empty %}
    <p>Votre panier est vide.</p>
{% else %}

<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for item in cart %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.priceHT }} €</td>
                <td>
                    <div class="d-flex align-items-center gap-2">

                        <a href="{{ path('cart_decrease', {id: item.product.id}) }}"
                        class="btn btn-outline-secondary btn-sm">
                            −
                        </a>

                        <span class="fw-bold">{{ item.quantity }}</span>

                        <a href="{{ path('cart_add', {id: item.product.id}) }}"
                        class="btn btn-outline-primary btn-sm">
                            +
                        </a>

                    </div>
                </td>
                <td>{{ item.product.priceHT * item.quantity }} €</td>
                <td>
                    <a href="{{ path('cart_remove', {id: item.product.id}) }}" class="btn btn-danger btn-sm">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total : {{ total }} €</h3>

{% endif %}
<a href="{{ path('order_create') }}" class="btn btn-success mt-3">
    Valider la commande
</a>
<a href="{{ path('app_categories') }}" class="btn btn-secondary mt-3">
    ← Continuer les achats
</a>

{% endblock %}